.footer {
  margin: 100px 0 50px;
  text-align: center;
}

.footer p {
  margin: 5px 0;
}

.body {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

@media (max-width: 800px) {
  .body {
    flex-direction: column;
    text-align: center;
  }
}
